/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";
@import "compass/css3/text-shadow";
@import "compass_twitter_bootstrap";
@import "compass_twitter_bootstrap_responsive";


body {
    margin: 15px;
    margin-top: 25px;
    font-family: 'Open Sans',Arial,sans;
    font-size: 70px;
    font-weight: 700;
    color:#fff;
    @include single-text-shadow(#000, 1px, 1px, 0);
    background-color: #222222;

    #myModal {
        line-height: 1em;

        #myModalLabel {
            color: #333;
            @include single-text-shadow(none);
        }
    }

    #header {
        font-weight: 700;
        padding-bottom: 15px;
        margin-bottom: 15px;
        border-bottom: #fff 1px solid;
        line-height: 1em;

        #search-term {
            color: #fff;
            text-decoration: none;
        }
        #clock {
            text-align: right;
            font-size: 0.4em;
            vertical-align: bottom;
        }
        img {
            position: relative;
            bottom: 5px;
        }
    }
    #container {
        #content {
            font-size: 0.4em;

            .tweet {
                background-color: #292929; 
                margin-top:10px;
                margin-bottom:10px;
                padding: 15px;
                line-height: 1.2em;

                .search-term-highlight {
                    color: #ac2314;
                }
                .when {
                    color: #3dac14;
                }
            }
        }
        #footer {
        }
    }
}

